<div class="footer-custom-content">
    <ul class="list-inline text-center footer-links">
        <li>
            <a href="https://www.credly.com/badges/0958b5f9-561c-4997-8354-66260be98368">
                <img src='{{ site.url }}/assets/img/footer/CTA_Badge.png'
			    style="object-fit:contain;
				    height: 90px;
				    width: auto;
                    border: 0" />
            </a>
            &nbsp;&bull;&nbsp;
            <a href="http://www.planetpowershell.com/"">
                <img src='{{ site.url }}/assets/img/footer/planetpowershell-featured-badge.png'
				style="object-fit:contain;
					height: 90px;
					width: auto;
                    border: 0" />
            </a>
            &nbsp;&bull;&nbsp;
            <a href="https://mycugc.org/">
            <img src='{{ site.url }}/assets/img/footer/CUGCLeaderBadge.png'
				style="object-fit:contain;
				height: 90px;
				width: auto;
                border: 0" />
            </a>
        </li>
    </ul>
</div>